:root {
    --main-color: #9ab8f0;
    --second-color: #a07bd4;
    --background-color: #242525;
    --text-color: #bfbfbf;
}
html {
    font-size: 16px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: var(--background-color);
}
p {
    color: var(--text-color)
}
.container {
    width: 80%;
    margin: auto
}

/* Login Page */
.login {
    background-image: url(../images/dark-background.jpg);
    background-position: center;
    background-size: cover;
}
.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}
.login__items {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 50px
}
.login__items__details {
    width: 50%
}
.login__items__details__icon{
    display: flex;
    align-items: center;
    gap: 10px;
}
.login__items__details__animation {
    background-color: rgba(28, 27, 27, 0.5);
    padding: 30px;
    margin: 20px 0;
    width: 420px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.login__items__details__animation .circles {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    
}
.login__items__details__animation .circles div {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.login__items__details__animation .circles div:first-child {
    background-color: #f76562;
}
.login__items__details__animation .circles div:nth-child(2) {
    background-color: #f6bc3b;
}
.login__items__details__animation .circles div:nth-child(3) {
    background-color: #2ec84c;
}
.login__items__details__animation h2{
    color: var(--text-color);
    font-family: "Source Code Pro", monospace;
    font-size: 1.3rem;
    padding: 10px 0;
}
.login__items__details__animation span {
    color: var(--second-color)
}
.login__items__details__icon svg {
    color: var(--main-color)
}
.login__items__form {
    width: 50%;
    border: 5px solid var(--second-color);
    border-radius: 10px;
    padding: 50px
}

.login__items__form input {
    padding: 10px;
    width: 500px;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
    
}
.login__items__form input:focus{
    outline: none;
}
.login__items__form h2 {
    color: var(--main-color);
    padding-bottom: 20px;
    font-size: 1.3rem
}
.login__items__form .login-button {
    width: fit-content;
    background-color: var(--main-color);
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
    border: 1px solid var(--main-color);
    padding: 10px 20px;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}
.login__items__form .login-button:hover {
    background-color: #fff;
    color: var(--main-color);

}

/* login responsiveness */
@media (max-width: 1200px) {
    html {
        font-size: 12px
    }
    .login-wrapper {
        height: fit-content;
        min-height: 100vh;
    }
    .login__items {
        flex-direction: column;
        height: fit-content;
        align-items: center;
    }
    .login__items__details {
        margin-bottom: 50px;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .login__items__form{
        width: 80%
    }
    
    .login__items__details__icon {
        justify-content: center;
    }
}
@media (max-width: 992px) {
    .container {
        width: 90%
    }
    .login__items {
        padding: 50px 10px
    }
    .login__items__details__animation {
        width: 100%
    }
    .login__items__details{
        width: 90%
    }

    .login__items__form{
        width: 90%
    }
    .login__items__form {
        padding: 20px
    }
 }
 @media (max-width: 576px) { 
    .login__items {
        padding: 50px 5px
    }

    .login__items__form{
        width: 95%
    }
    .login__items__details{
        width: 95%;
    }

    .login__items__form {
        padding: 10px
    }
  }



  /* HOME */
  .post-form {
    margin-top: 50px
  }
  .post-form form{
    background: linear-gradient(to left, var(--main-color), var(--second-color));
    padding: 50px 50px 150px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  .post-form__input {
    width: 100%;
    height: 100px;
    padding: 20px;
    border-radius: 5px;
    border: none
  }
  .post-form__input:focus {
    outline: none;
  }
  .post-form__button {
    padding: 10px 20px;
    text-transform: capitalize;
    color: var(--second-color);
    background-color: #fff;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 20px;
    justify-self: flex-end;
    align-self: flex-end;
    width: fit-content;
    font-weight: bold;
  }


  /* posts */
  .posts .row{
    width: 90%;
    margin: auto;
    padding: 50px;
    position: relative;
    z-index: 1;
    margin-top: -100px;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 100px;
  }

  .posts__item {
    border: 1px solid var(--main-color);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px
  }
  .posts__item__header, .posts__item__header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: var(--second-color);
  }
  .posts__item__header svg {
    font-size: 20px
  }
  .posts__item__text {
    margin: 20px 0;
    line-height: 1.7
  }
.posts__item__image {
    height: 300px;
    text-align: center;
}
.posts__item__image img{
    height: 100%
}